div.search-bar {
    position: relative;
}

.search-bar .search-suggestions {
    position: absolute;
    top: 24px;
    z-index: 12;
    background: white;
    color: black;
    width: 100%;
    border: 1px solid rgba(216, 191, 216, 0.5);
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px -4px rgb(105, 105, 105), 0px 4px 8px rgb(105, 105, 105), -4px 4px 4px -4px rgb(105, 105, 105);
    font-size: 14px;
}

.search-suggestions li {
    padding: 6px 10px;
}


.search-suggestions li:hover {
    background-color: #faf3fa;
    cursor: pointer;
}


.search-suggestions ul {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

section.newsfeed-content.search-results {
    padding: 12px 12px 0px 12px;
    background-color: white;
    border: 1px solid thistle;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
    min-height: 0px;
}

.search-result-header {
    font-size: 16px;
    font-weight: bold;
}

.search-result-item {
    padding: 12px;
    border-top: 1px solid rgb(240, 212, 240);
}

.search-result-body > div:first-child {
    border-top: none;
}

.search-result-item .friend-photo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.search-result-item .friend-photo img {
    min-width: 75px;
}

.search-result-item .friend-name-container {
    justify-content: flex-start;
}

.search-result-item .friend-button > .friend-request-button-container {
    position: relative;
    right: 0px;
    top: -75px;
}

.no-search-results {
    font-size: 14px;
    padding-top: 12px;
}