.fish-gmaps-section{
    width: 500px;
    height: 100%;
    flex-grow: 0;
}

.fish-gmaps-section > #map{
    border: 1px solid lightskyblue;
    border-radius: 5px;
}

.fish-gmaps-section > #map{ 
    object-fit: fill;
}

.fish-show-page{
    width: 60vw;
    /* height: 65vh; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* border: 2px solid orange; */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
}

.fish-gmaps-section > div {
    font-weight: bold;
    margin-bottom: 10px;
}


.fish-show-size > div {
    margin-bottom: 5px;
}

.fish-show-text {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    /* border: 2px solid red; */
    padding-right: 10px;
}

.fish-show-name{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 888;
    color: cornflowerblue;
}

.fish-show-info{
    float: right;
    /* border: 2px solid green; */
}

.fish-show-info span{
    color: black;
    font-weight: bold;
}

.fish-show-img{
    width: 54%;
    height: 70%;
    /* border: 2px solid cornflowerblue; */
    height: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.show-fish-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fish-index-page.main-page-container > div {
    top: 60px;
    /* left: 20vw; */
}

.fish-show-img > img {
    /* width: 100%; */
    height: 250px;
    border-radius: 5px;
}

.fish-show-desc-box{
    width: 100%;
    overflow: hidden;
}

.fish-show-desc-box > .fish-show-desc{
    text-align: center;
    margin-top: 10px;
    color: dodgerblue;
    font-size: 25px;
    font-weight: 888;
}

.fish-show-description{
    padding: 10px 35px;
}

footer {
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links > div {
    margin-bottom: 5px;
}

.footer-copyright {
    color: gray;
}

footer a {
    color: rgb(14, 83, 83);
}

footer a:hover {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    display: flex;
}

footer li {
    padding-left: 12px;
}

.no-fish-page{
    width: 100vw;
    height: 100vh;
}

.fish-wrap{
    display: flex;
    justify-content: center;
    width: 100%;
}

.no-fish-pic{
    width: 50%;
}

.no-fish-text{
    text-align: center;
    font-size: 30px;
    font-weight: 888;
    color: cornflowerblue;
    /* position: fixed; */
}

.fish-photo-upload-form{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.show-fish-select-container{
    border: 1px solid lightskyblue;
    background-color: rgba(57, 136, 136, 0.1);

    border-radius: 3px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    /* box-sizing: border-box; */
}

.show-fish-photo-title{
    /* text-align: center; */
    font-size: 25px;
    color: cornflowerblue;
    font-weight: 600;
    margin-bottom: 10px;
}

.show-selected-fish-index{
    height: 500px;
    max-width: 100%;
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid lightskyblue; */
}

.show-fish-photo{
    width: 48%;
    height: 250px;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    margin-bottom: 10px;
}

.show-fish-photo > img{
    width: 100%;
    height: 100%;
    /* max-height: 50%; */
}

.add-photo {
    font-weight: bold;
    padding-right: 10px;
}
